#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* SETTINGS */
#define MACRO_DELAY 30
#define COMBO_TIMEOUT 5

#define BASE 0
#define SYM  1
#define SDBL 2
#define ACNT 3
#define NUM  4
#define NAV  5
#define FUNC 6

#define B_		Q
#define EACT_	W
#define P_		E
#define O_		R
#define EGRV_	T
#define CFLX_	Y
#define V_		U
#define D_		I
#define L_		O
#define J_		P
#define Z_		LBKT
#define W_		RBKT

#define A_		A
#define U_		S
#define I_		D
#define E_		F
#define COMM_	G
#define C_		H
#define T_		J
#define S_		K
#define R_		L
#define N_		SEMI
#define M_		APOSTROPHE
#define CCED_	BACKSLASH

#define AGRV_	Z
#define Y_		X
#define X_		C
#define DOT_	V
#define K_		B
#define APSC_	N /* inverted comma */
#define APST_	RA(COMM_)
#define Q_		M
#define G_		COMMA
#define H_		DOT
#define F_		SLASH

#define EXCL_	LS(CFLX_)
#define SEMI_	LS(COMM_)
#define COLN_	LS(DOT_)
#define QMRK_	LS(APSC_)

#define ACUT_	RA(EACT_)
#define GRAV_	RA(EGRV_)
#define TILD_	RA(N_)
#define AMPR_	RA(P_)
#define OE_		RA(O_)

#define AE_		RA(A_)
#define TRMA_	RA(I_)
#define EURO_	RA(E_)
#define BSLA_	RA(AGRV_)
#define LCRL_	RA(Y_)
#define RCRL_	RA(X_)
#define ULIN_	RA(SPACE)

#define DLLR_	GRAVE
#define HASH_	LS(DLLR_)
#define QUOT_	N1
#define LGLM_	N2
#define RGLM_	N3
#define LT_		RA(LGLM_)
#define GT_		RA(RGLM_)
#define LPAR_	N4
#define RPAR_	N5
#define LBRK_	RA(LPAR_)
#define RBRK_	RA(RPAR_)
#define AT_		N6
#define PLUS_	N7
#define MIN_	N8
#define FSLA_	N9
#define STAR_	N0
#define EQUL_	MINUS
#define PCNT_	EQUAL

#define CRAT_ RA(N6_)
#define TLDL_ RA(K_) /* loose tilde */


#define MDSH_	RA(N8)
#define NDSH_	RA(N1)

#define NBSP_	LS(SPACE)

#define N0_	LS(N0)
#define N1_	LS(N1)
#define N2_	LS(N2)
#define N3_	LS(N3)
#define N4_	LS(N4)
#define N5_	LS(N5)
#define N6_	LS(N6)
#define N7_	LS(N7)
#define N8_	LS(N8)
#define N9_	LS(N9)

#define LT_TAPPING_TERM 250

&lt {
	tapping-term-ms = <LT_TAPPING_TERM>;
};

&sk {
	release-after-ms = <1000>;
};

&caps_word {
	continue-list = <ULIN_ MIN_ BACKSPACE Z_ W_ N_ M_ CCED_ G_ H_ F_>;
};

/ { 
	behaviors {
		#define HOLDTAP(NAME, FLAVOR, BINDINGS...) \
			NAME: ht_##NAME { \
				compatible = "zmk,behavior-hold-tap"; \
				label = #NAME; \
				flavor = #FLAVOR; \
				bindings = BINDINGS; \
				#binding-cells = <2>; \
				tapping-term-ms = <300>; \
				quick-tap-ms = <0>; \
			};
			
		#define HRMOD_POS(NAME, POSITIONS) \
			NAME: ht_##NAME { \
				compatible = "zmk,behavior-hold-tap"; \
				label = #NAME; \
				#binding-cells = <2>; \
				flavor = "balanced"; \
				tapping-term-ms = <300>; \
				quick-tap-ms = <200>; \
				hold-trigger-key-positions = <POSITIONS>; \
				bindings = <&kp>, <&kp>; \
			};		
			
		HOLDTAP(hm,     tap-preferred, <&kp>, <&kp>)
		HOLDTAP(lttp,   tap-preferred, <&mo>, <&kp>)
		HOLDTAP(lhs,    balanced,      <&mo>, <&tog>)
		HOLDTAP(lecflx, balanced,      <&mo>, <&m_CFLX_E_>)
		
		HRMOD_POS(hml, 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33)
		HRMOD_POS(hmr, 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31)
	};

	
	macros {		
		#define MACRO(FIRST, SECOND) \
			ZMK_MACRO(m_##FIRST##SECOND, \
				tap-ms = <MACRO_DELAY>; \
				bindings = <&macro_tap &kp FIRST &kp SECOND>; \
				)
		
		#define MACRO_(NAME, BINDINGS) \
			ZMK_MACRO(m_##NAME, \
				tap-ms = <MACRO_DELAY>; \
				bindings = <BINDINGS>; \
				)
		
		#define MACRO_DOUBLE(FIRST, SECOND) \
			ZMK_MACRO(dbl_##FIRST, \
				tap-ms = <MACRO_DELAY>; \
				bindings = <&macro_tap &kp FIRST &kp SECOND &kp LEFT>; \
				)
	
		MACRO(ACUT_, A_)
		MACRO(ACUT_, E_)
		MACRO(ACUT_, I_)
		MACRO(ACUT_, O_)
		MACRO(ACUT_, U_)
		MACRO(CFLX_, A_)
		MACRO(CFLX_, E_)
		MACRO(CFLX_, I_)
		MACRO(CFLX_, O_)
		MACRO(CFLX_, U_)
		MACRO(GRAV_, A_)
		MACRO(GRAV_, E_)
		MACRO(GRAV_, O_)
		MACRO(GRAV_, U_)
		MACRO(TILD_, A_)
		MACRO(TILD_, O_)
		MACRO(TILD_, N_)
		
		MACRO_(qu,   &macro_tap &kp Q_ &kp U_)
		MACRO_(ae,   &macro_tap &kp TILD_ &kp A_ &kp E_)
		MACRO_(ao,   &macro_tap &kp TILD_ &kp A_ &kp O_)
		MACRO_(oe,   &macro_tap &kp TILD_ &kp O_ &kp E_)
		MACRO_(ion,  &macro_tap &kp I_ &kp O_ &kp N_)
		MACRO_(ment, &macro_tap &kp M_ &kp E_ &kp N_ &kp T_)
		
		MACRO_(surpar,  &macro_tap &kp LC(X_) &kp LPAR_ &kp LC(V_) &kp RPAR_)
		MACRO_(surglm,  &macro_tap &kp LC(X_) &kp LGLM_ &kp LC(V_) &kp RGLM_)
		MACRO_(surquot, &macro_tap &kp LC(X_) &kp QUOT_ &kp LC(V_) &kp QUOT_)
				
		MACRO_DOUBLE(LPAR_, RPAR_)
		MACRO_DOUBLE(LBRK_, RBRK_)
		MACRO_DOUBLE(LCRL_, RCRL_)
		MACRO_DOUBLE(LT_,   GT_)
		MACRO_DOUBLE(LGLM_, RGLM_)
		MACRO_DOUBLE(APST_, APST_)
		MACRO_DOUBLE(QUOT_, QUOT_)
	};

	/*
					KEY POSITIONS

	  ╭──────────────────────╮ ╭───────────────────────╮
	  │  0   1   2   3     4 │ │  5     6   7   8   9 │
	  │ 10  11  12  13    14 │ │ 15    16  17  18  19 │
	  │ 20  21  22  23    24 │ │ 25    26  27  28  29 │
	  ╰───────────╮ 30    31 │ │ 32    33 ╭───────────╯
				  ╰──────────╯ ╰──────────╯			*/
			  
	combos {
		compatible = "zmk,combos";
		
		#define COMBO(KEY, POSITIONS, SUFFIX) \
			combo_##KEY##SUFFIX { \
				bindings = <&kp KEY>; \
				key-positions = <POSITIONS>; \
				timeout-ms = <COMBO_TIMEOUT>; \
			};
			
		/*
		#define COMBO_LAYER(KEY, POSITIONS, LAYERS) \
			combo_##KEY { \
				bindings = <&kp KEY>; \
				key-positions = <POSITIONS>; \
				layers = <LAYERS>;
				timeout-ms = <COMBO_TIMEOUT>; \
			};
			*/
		
		#define COMBO_MACRO(NAME, POSITIONS) \
			combo_##NAME { \
				bindings = <&m_##NAME>; \
				key-positions = <POSITIONS>; \
				timeout-ms = <COMBO_TIMEOUT>; \
			};
			
		COMBO(TAB,   12 13,)
		COMBO(ENTER, 16 17,)
		COMBO(BSPC,  11 12,)
		COMBO(BSPC,  17 18,_)
		COMBO(SPACE, 11 12 13,)
		COMBO(SPACE, 16 17 18,_)
		COMBO(DEL,   21 22,)
		COMBO(DEL,   27 28,_)
		COMBO(ESC,   10 11 12 13,)
		COMBO(ESC,   22 23,_)
		COMBO(CAPS,  13 14,)
		COMBO(DOT_,  10 11,)
		/*COMBO(CAPS,  15 16,_)*/
		
		COMBO_MACRO(qu,   26 27)
		COMBO_MACRO(ae,   13 30)
		COMBO_MACRO(ao,   13 11)
		COMBO_MACRO(oe,   11 30)
		COMBO_MACRO(ion,  12 11 19)
		COMBO_MACRO(ment, 27 19 16)
		
		
				
		combo_ctrl_z {
			bindings = <&kp LC(Z_)>;
			key-positions = <20 21>;
			timeout-ms = <COMBO_TIMEOUT>;
		};
		
		combo_pause {
			bindings = <&kp PAUSE_BREAK>;
			key-positions = <20 21 22 23>;
			layers = <BASE>;
			timeout-ms = <COMBO_TIMEOUT>;
		};
		
		combo_func_layer {
			bindings = <&mo FUNC>;
			key-positions = <30 31>;
			layers = <BASE>;
			timeout-ms = <COMBO_TIMEOUT>;
		};
		
		combo_cs_esc {
			bindings = <&kp LC(LS(ESC))>;
			key-positions = <10 11 12 13>;
			layers = <FUNC>;
			timeout-ms = <COMBO_TIMEOUT>;
		};
		
		combo_bootloader {
			bindings = <&bootloader>;
			key-positions = <20 24>;
			layers = <FUNC>;
			timeout-ms = <COMBO_TIMEOUT>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		
		#define PSBRK PAUSE_BREAK
		
		#define HMLG  &hm LGUI
		#define HMLA  &hm LALT
		#define HMLC  &hm LCTRL
		#define HMLS  &hml LSHIFT
		
		#define HMRG  &hm RGUI
		#define HMRA  &hm RALT
		#define HMRC  &hm RCTRL
		#define HMRS  &hmr RSHIFT
		
		#define DOT_COMMA	&mt DOT_  COMM_
		#define COLON_SEMI	&mt COLN_ SEMI_
		#define EXCL_QMRK	&mt EXCL_ QMRK_
		
		#define MTPAR  &mt RPAR_ LPAR_
		#define MTCRL  &mt RCRL_ LCRL_
		#define MTBRK  &mt RBRK_ LBRK_
		#define MTGLM  &mt RGLM_ LGLM_
		#define MTGLT  &mt GT_   LT_
		
		#define THUMB1	&lttp SYM E_
		#define THUMB2	&lecflx NUM 0
		#define THUMB3	&lttp ACNT APST_
		#define THUMB4	&lt   NAV SPACE
		
		base_layer {
			bindings = <
				&kp  Z_		&kp W_		&kp  Y_		&kp  X_		&kp Q_				&kp DOT_	&kp  C_		&kp  H_		&kp  F_		&kp  J_
				HMRG U_		HMLA O_		HMLC I_		HMLS A_		&kp K_				&kp G_		HMRS T_		HMRC R_		HMRA S_		HMRG N_
				&kp  B_		HMLC EACT_	&kp  P_		DOT_COMMA	EXCL_QMRK			&key_repeat	&kp  D_		&kp  M_		&kp  L_		&kp  V_
													THUMB1		THUMB2				THUMB3		THUMB4
			>;
		};
		
		sym_layer {
			bindings = <
				&none		&none		&none		&none		&none				&kp AE_		&kp OE_		&kp AT_		&kp AMPR_	&kp CCED_
				&none		&kp QUOT_	&kp APST_	&kp MIN_	&none				&none		&kp LPAR_	&kp RPAR_	&kp LT_		&kp GT_	
				&kp LCRL_	&kp RCRL_	&kp LGLM_	&kp RGLM_	&none				&none		&kp LBRK_	&kp RBRK_	&kp MDSH_	&kp NDSH_
													&trans		&trans				&mo SDBL	&trans
			>;
		};
		
		symdouble_layer {
			bindings = <
				&none		&none		&none		&none		&none				&trans		&trans		&trans		&trans		&trans
				&none		&dbl_QUOT_	&dbl_APST_	&trans		&trans				&trans		&dbl_LPAR_	&m_surpar	&dbl_LT_	&trans
				&dbl_LCRL_	&m_surquot	&dbl_LGLM_	&m_surglm	&none				&trans		&dbl_LBRK_	&trans		&trans		&trans
													&trans		&trans				&trans		&trans
			>;
		};
		
		accent_layer {
			bindings = <
				&m_CFLX_U_	&m_CFLX_O_	&m_CFLX_I_	&m_CFLX_A_	&none				&none		&kp CCED_	&none		&none		&none
				&m_ACUT_U_	&m_ACUT_O_	&m_ACUT_I_	&m_ACUT_A_	&m_GRAV_A_			&kp TRMA_	&kp ACUT_	&kp CFLX_	&kp GRAV_	&m_TILD_N_
				&m_GRAV_U_	&m_TILD_O_	&m_CFLX_A_	&m_TILD_A_	&none				&none		&none		&kp CRAT_	&none		&kp TILD_
													&m_GRAV_E_	&none				&trans		&trans
			>;
		};
		
		num_layer {
			bindings = <				
				&kp EQUL_	&kp N7_		&kp N8_		&kp N9_		&none				&none		&kp PCNT_	&kp HASH_	&kp DLLR_	&kp EURO_
				&kp N0_		&kp N1_		&kp N2_		&kp	N3_		DOT_COMMA			&none		&kp PLUS_	&kp MIN_	&kp STAR_	&kp FSLA_
				&none		&kp N4_		&kp N5_		&kp	N6_		&none				&none		MTPAR		MTGLT		&kp EQUL_	&kp BSLA_
													&tog NUM	&trans				&trans		&trans
			>;
		};
		
		nav_layer {
			bindings = <
				&kp INSERT	&sk RALT	&kp PSCRN	&kp PSBRK	&none				&kp PG_UP	&kp HOME		&kp LEFT	&kp RIGHT	&kp END
				&sk LGUI	&sk LALT	&sk LCTRL	&sk LSHIFT	&none				&kp PG_DN	&kp LC(LEFT)	&kp DOWN	&kp UP		&kp LC(RIGHT)
				&kp LC(Z_)	&kp LC(X_)	&kp LC(C_)	&kp LC(V_)	&none				&none		&kp LC(BSPC)	&kp BSPC	&kp DEL		&kp LC(DEL)
													&kp ULIN_	&trans				&trans		&trans
			>;
		};
		
		func_layer {
			bindings = <
				&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3			&reset		  &kp F7  &kp F8  &kp F9  &kp F12
				&kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE    &kp LSLCK				&none		  &kp F1  &kp F2  &kp F3  &kp F11
				&kp C_BRI_DN  &kp C_PREV    &kp C_NEXT    &kp C_PP      &kp LNLCK				&out OUT_TOG  &kp F4  &kp F5  &kp F6  &kp F10
													      &trans		&trans					&trans		  &trans
			>;
		};
		/*
		none_layer {
			bindings = <
				&none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none
				&none &none &none &none
			>;
		};
		*/
	};
};	
