#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define SYM  1
#define NUM  2
#define NAV  3
#define FUNC 4

#define B_B		Q
#define B_EACT	W
#define B_P		E
#define B_O		R
#define B_EGRV	T
#define B_CRAT	Y
#define B_V		U
#define B_D		I
#define B_L		O
#define B_J		P
#define B_Z		LBKT
#define B_W		RBKT

#define B_A		A
#define B_U		S
#define B_I		D
#define B_E		F
#define B_COMM	G
#define B_C		H
#define B_T		J
#define B_S		K
#define B_R		L
#define B_N		SEMI
#define B_M		APOSTROPHE

#define B_ECRA	BACKSLASH
#define B_AGRV	Z
#define B_Y		X
#define B_X		C
#define B_DOT	V
#define B_K		B
#define B_APST	N
#define B_Q		M
#define B_G		COMMA
#define B_H		DOT
#define B_F		SLASH

#define B_EXCL	LS(B_CRAT)
#define B_SEMI	LS(B_COMM)
#define B_COLN	LS(B_DOT)
#define B_QMRK	LS(B_APST)

#define B_ACUT	RA(B_EACT)
#define B_GRAV	RA(B_EGRV)
#define B_TILD	RA(B_N)
#define B_AMPR	RA(B_P)
#define B_OE	RA(B_O)

#define B_AE	RA(B_A)
#define B_TRMA	RA(B_U)
#define B_EURO	RA(B_E)
#define B_BSLA	RA(B_AGRV)
#define B_LCRL	RA(B_Y)
#define B_RCRL	RA(B_X)
#define B_ULIN	RA(SPC)

#define B_DLLR	GRAVE
#define B_HASH	LS(B_DLLR)
#define B_QUOT	N1
#define B_LGLM	N2
#define B_RGLM	N3
#define B_LT	RA(B_LGLM)
#define B_GT	RA(B_RGLM)
#define B_LPAR	N4
#define B_RPAR	N5
#define B_LBRK	RA(B_LPAR)
#define B_RBRK	RA(B_RPAR)
#define B_AT	N6
#define B_PLUS	N7
#define B_MIN	N8
#define B_FSLA	N9
#define B_STAR	N0
#define B_EQUL	MINUS
#define B_PCNT	EQUAL

#define B_MDSH	RA(N8)
#define B_NDSH	RA(N1)

#define B_NBSP	RA(SPACE)

#define B_0		LS(N0)
#define B_1		LS(N1)
#define B_2		LS(N2)
#define B_3		LS(N3)
#define B_4		LS(N4)
#define B_5		LS(N5)
#define B_6		LS(N6)
#define B_7		LS(N7)
#define B_8		LS(N8)
#define B_9		LS(N9)


/ { 
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		
		/*lttp: layer_toggle_tap_preferred {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_TOGGLE_TAP_PREFERRED";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
		};*/
	};



/*
                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */
			  
    combos {
        compatible = "zmk,combos";
		
		combo_enter {
			bindings = <&kp ENTER>;
			key-positions = <16 17>;
		};
		
		combo_backspace {
			bindings = <&kp BACKSPACE>;
			key-positions = <17 18>;
		};
		
		combo_delete {
			bindings = <&kp DELETE>;
			key-positions = <18 19>;
		};
				
		combo_tab {
			bindings = <&kp TAB>;
			key-positions = <12 13>;
		};
		
		combo_esc {
			bindings = <&kp ESC>;
			key-positions = <11 12>;
		};
        
		combo_caps {
			bindings = <&kp CAPS>;
			key-positions = <13 14>;
			layers = <NAV>;
		
		combo_func_layer {
			bindings = <&mo FUNC>;
			key-positions = <30 31>;
			layers = <BASE>;
		};
		
		combo_bootloader {
			bindings = <&bootloader>;
			key-positions = <20 24>;
			layers = <FUNC>;
		};
    };

	keymap {
		compatible = "zmk,keymap";

		#define THUMB1		&sl	SYM
		#define THUMB2		&lt	NUM B_E
		#define THUMB3		&lt	NAV SPACE
		#define THUMB4		&mt	LSHIFT BSPC
		
		#define DOT_COMMA	&mt B_DOT  B_COMM
		#define SEMI_COLON	&mt B_SEMI B_COLN
		#define EXCL_QMRK	&mt B_EXCL B_QMRK
		
		#define PSBRK PAUSE_BREAK
		
		base_layer {
			bindings = <
				&kp    B_B	&kp B_EACT	&kp    B_P	&kp    B_O	EXCL_QMRK			&kp B_Y		&kp B_V		&kp B_D		&kp B_L		&kp B_J
				&hm LG B_W	&hm LA B_U	&hm LC B_I	&hm LS B_A	DOT_COMMA			&kp B_C		&hm LS B_T	&hm LC B_S	&hm LA B_R	&hm LG B_N
				&kp    B_Z	&kp    B_Y	&kp    B_X	&kp    B_M	&kp B_K				&key_repeat	&kp B_Q		&kp B_G		&kp B_H		&kp B_F
												/*	SYM ENTER	NUM E				NAV SPACE	LSHIFT BSPC	*/
													THUMB1		THUMB2				THUMB3		THUMB4
			>;
			
		};
		
		sym_layer {
			bindings = <
				&kp B_LBRK	&kp B_RBRK	&kp B_LGLM	&kp B_RGLM	&none				&kp B_AE	&kp B_OE	&kp B_AT	&kp B_AMPR	&kp B_NBSP
				&kp B_LPAR	&kp B_RPAR	&kp B_QUOT	&kp B_APST	SEMI_COLON			&kp B_TRMA	&kp B_ACUT	&kp B_GRAV	&kp B_CRAT	&kp B_TILD
				&kp B_LCRL	&kp B_RCRL	&kp B_LT	&kp B_GT	&none				&none		&kp B_MIN	&kp B_MDSH	&kp B_NDSH	&kp B_ULIN
													&trans		&trans				&trans		&trans
			>;
		};
		
		num_layer {
			bindings = <
				&kp B_PCNT	&kp B_HASH	&kp B_DLLR	&kp B_EURO	&none				&none		&kp B_N4	&kp B_N5	&kp B_N6	&none
				&kp B_FSLA	&kp B_STAR	&kp B_MIN	&kp B_PLUS	DOT_COMMA			&none		&kp B_N1	&kp B_N2	&kp B_N3	&kp B_N0
				&kp B_BSLA	&kp B_EQUL	&kp LA(TAB)	&kp LC(TAB)	&none				&none		&kp B_N7	&kp B_N8	&kp B_N9	&none
													&trans		&trans				&trans		&trans
			>;
		};
		
		nav_layer {
			bindings = <
				&kp INSERT	&sk RALT	&kp PSCRN	&kp PSBRK	&none				&kp PG_UP	&kp HOME		&kp LEFT	&kp RIGHT	&kp END
				&sk LGUI	&sk LALT	&sk LCTRL	&sk LSHIFT	&caps_word			&kp PG_DN	&kp LC(LEFT)	&kp DOWN	&kp UP		&kp LC(RIGHT)
				&kp LC(B_Z)	&kp LC(B_X)	&kp LC(B_C)	&kp LC(B_V)	&none				&none		&kp LC(BSPC)	&kp BSPC	&kp DEL		&kp LC(DEL)
													&kp LC(RET)	&kp B_NBSP			&trans		&trans
			>;
		};
		
		func_layer {
			bindings = <
				&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2	&bt BT_SEL 3			&reset  &kp F4  &kp F5  &kp F6  &kp F10
				&kp C_VOL_DN &kp C_VOL_UP  &kp C_MUTE    &kp C_BRI_UP	&kp LSLCK				&none   &kp F1  &kp F2  &kp F3  &kp F11
				&kp C_PREV   &kp C_NEXT    &kp C_PP      &kp C_BRI_DN	&kp LNLCK				&none   &kp F7  &kp F8  &kp F9  &kp F12
														 &trans			&trans					&trans	&trans
			>;
		};
	};
};
