slfast: slay_fast {
	compatible = "zmk,behavior-sticky-key";
	#binding-cells = <1>;
	bindings = <&mo>;
	release-after-ms = <300>;
	quick-release;
};

#define _POS_LH   0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31
#define _POS_RH   5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33
#define _ALL_POSITIONS  _POS_LH  _POS_RH

#define DEFINE_HOLDTAP(FLAVOR, NAME, TAP_THRESHOLD, POSITIONS, BINDINGS...) \
    NAME: ht_##NAME { \
    	compatible = "zmk,behavior-hold-tap"; \
    	#binding-cells = <2>; \
    	 \
    	flavor = #FLAVOR; \
    	tapping-term-ms = <TAP_THRESHOLD>; \
    	quick-tap-ms = <_HT_QUICKTAP>; \
    	bindings = BINDINGS; \
    	 \
    	hold-trigger-key-positions = <POSITIONS>; \
    };
	
#define DEFINE_HOMEROW_MOD(FLAVOR, NAME, TAP_THRESHOLD, POSITIONS, BINDINGS...) \
    NAME: ht_##NAME { \
    	compatible = "zmk,behavior-hold-tap"; \
    	#binding-cells = <2>; \
    	 \
    	flavor = #FLAVOR; \
		require-prior-idle-ms = <_HT_PRIOR_IDLE>; \
    	tapping-term-ms = <TAP_THRESHOLD>; \
    	quick-tap-ms = <_HT_QUICKTAP>; \
    	bindings = BINDINGS; \
    	 \
    	hold-trigger-key-positions = <POSITIONS>; \
		hold-trigger-on-release; \
    };
	
#define HT( NAME, BINDINGS... ) \
    DEFINE_HOLDTAP (tap-preferred,  NAME,  _HT_TAP_THRESHOLD,  _ALL_POSITIONS,  BINDINGS)
									   
#define HT_BAL( NAME, BINDINGS... ) \
    DEFINE_HOLDTAP( balanced,  NAME,  _HT_TAP_THRESHOLD,  _ALL_POSITIONS,  BINDINGS)
									   
#define HTPOS( NAME, POSITIONS,  BINDINGS... ) \
    DEFINE_HOMEROW_MOD( tap-preferred,  NAME,  _HT_TAP_THRESHOLD,  POSITIONS,  BINDINGS)
									   
#define HT_FAST( NAME, BINDINGS... ) \
    DEFINE_HOLDTAP( tap-preferred,  NAME,  _HT_TAP_THRESHOLD_FAST,  _ALL_POSITIONS,  BINDINGS)
									   
#define HT_SLOW( NAME, BINDINGS... ) \
    DEFINE_HOLDTAP( tap-preferred,  NAME,  _HT_TAP_THRESHOLD_SLOW,  _ALL_POSITIONS,  BINDINGS)
	/* 
#define HT_MACRO( NAME, BINDINGS... ) \
    DEFINE_HOLDTAP( tap-preferred,  NAME,  _HT_TAP_THRESHOLD_SLOW,  _ALL_POSITIONS,  BINDINGS) */


// HOME-ROW MODS                       // HOLD           TAP             
HT(      ht,     <&kp>,  <&kp> )    // kp             kp                (tap-preferred)
HT_SLOW( htslow, <&kp>,  <&kp> )    // kp (slow)      kp (slow)         (tap-preferred)
HT(      htsl,   <&kp>,  <&sl> )    // kp             one-shot layer    (tap-preferred)
HT_BAL(  mosl,   <&mo>,  <&sl> )    // layer          one-shot layer    (balanced)
HT(      mokp,   <&mo>,  <&kp> )    // layer          kp                (tap-preferred)


// hrm for opposite hand only
HTPOS( htl,  _POS_RH,  <&kp>, <&kp> )
HTPOS( htr,  _POS_LH,  <&kp>, <&kp> )

													 // HOLD           TAP
HTPOS( htls_cw,  _POS_RH,  <&m_cp_hmls>,  <&kp> )    // lshift         kp 
HTPOS( htrs_cw,  _POS_LH,  <&m_cp_hmrs>,  <&kp> )    // rshift         kp 
HT(    htlc_cw,            <&m_cp_hmlc>,  <&kp> )    // lctrl          kp 
HT(    htrc_cw,            <&m_cp_hmrc>,  <&kp> )    // rctrl          kp 
HT(    htla_cw,            <&m_cp_hmla>,  <&kp> )    // lalt           kp 
HT(    htra_cw,            <&m_cp_hmra>,  <&kp> )    // ralt           kp 
HT(    htlg_cw,            <&m_cp_hmlg>,  <&kp> )    // lgui           kp 
HT(    htrg_cw,            <&m_cp_hmrg>,  <&kp> )    // rgui           kp 


// OTHER HOLDTAPS                                                       // HOLD               TAP
HTPOS(    mokp_l_UTIL,     _POS_LH,  <&m_mo_l_UTIL>,  <&kp> )           // mo UTIL            kp                (slow for lh, tap-preferred)
// capsword thumbs - TODO should be BAL like the base layer thumbs?
HT(    cw_mokp_l_NAV_SPC,            <&m_cw_mo_NAV>,  <&m_cw_SPC> )     // mo NAV -> BASE     SPC    -> BASE    (was balanced)
HT(    mo_slcw_l_SYM,                <&mo>,           <&m_cw_sl_SYM> )  // mo                 sl SYM -> BASE    (was balanced)


// HT( ht_OEU,  <&kp>, <&m_OE_U_> )

// loose accents on tap // TODO unused
//HT( ht_CFX, <&kp>, <&m_loose_CFX> )
//HT( ht_GRV, <&kp>, <&m_loose_GRV> )
//HT( ht_TLD, <&kp>, <&m_loose_TLD> ) 

// automatic nbsp on tap
HT( ht_LGLM, <&kp>, <&m_nbsp_LGLM> )
HT( ht_RGLM, <&kp>, <&m_nbsp_RGLM> )

// automatic nbsp on hold
HT_FAST( ht_COLN, <&m_nbsp_COLN>, <&kp> )
HT_FAST( ht_SCLN, <&m_nbsp_SCLN>, <&kp> )
HT_FAST( ht_QMRK, <&m_nbsp_QMRK>, <&kp> )
HT_FAST( ht_EXCL, <&m_nbsp_EXCL>, <&m_pure_EXCL> )




// syntactic sugar		
#define  LH_MODS       &kp LSHIFT  &kp LCTRL  &kp LALT  &kp LGUI
#define  RH_MODS       &kp RSHIFT  &kp RCTRL  &kp RALT  &kp RGUI
#define ALL_MODS       LH_MODS RH_MODS



#define DEFINE_PURE(PURE_BEHAVIOR) \
    p##PURE_BEHAVIOR: p##PURE_BEHAVIOR { \
		compatible = "zmk,behavior-macro-one-param"; \
		tap-ms = <_MACRO_TAP_FOR>; \
		wait-ms = <_MACRO_TAP_PADDING>; \
    	#binding-cells = <1>; \
		bindings \
			= <&macro_release  ALL_MODS> \
			, <&macro_param_1to1> \
			, <&macro_tap &##PURE_BEHAVIOR  MACRO_PLACEHOLDER> \
			/*
			, <&macro_press &##PURE_BEHAVIOR  MACRO_PLACEHOLDER> \
			, <&macro_pause_for_release> \
			, <&macro_param_1to1> \
			, <&macro_release &##PURE_BEHAVIOR  MACRO_PLACEHOLDER> \ */ \
			, <&macro_press  LH_MODS> \
			; \
	};
	
DEFINE_PURE(kp)
DEFINE_PURE(mkp)
DEFINE_PURE(mmv)
DEFINE_PURE(msc)